$accent: #4461F2;
$secondary: #EAF0F7;
// $success: #94D7A2;
// $fail: #F8BCBC;

$font-color: #293264;

$background: #F6F6F6;

$reg-font:'Noto Sans JP', sans-serif;
$main-font: 'Nunito Sans', sans-serif;